<h2>Template: Switches</h2>
<hr>


<form #miFormulario="ngForm">

    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="M"
                       [(ngModel)]="persona.genero"
                       name="radioGenero"
                       id="radioMasculino"
                       required>
                <label class="form-check-label" for="radioMasculino">
                  Masculino
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="F"
                       [(ngModel)]="persona.genero"
                       name="radioGenero"
                       id="radioFemenino"
                       required>
                <label class="form-check-label" for="radioFemenino">
                  Femenino
                </label>
            </div>

        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">

            <div class="form-check form-switch mt-2">
                <input class="form-check-input"
                       type="checkbox"
                       [(ngModel)]="persona.notificaciones"
                       name="notificaciones"
                       id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>

        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       name="terminos"
                       [(ngModel)]="terminosYCondiciones"
                       id="flexCheckDefault"
                       required>
                <label class="form-check-label" for="flexCheckDefault">
                  Términos y condiciones de uso
                </label>
            </div>
        </div>
    </div>
    

    <!-- Boton submit -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    [disabled]="miFormulario.invalid">
                Guardar
            </button>
        </div>
    </div>

</form>

<h5>Valor del formulario</h5>
<pre>{{ miFormulario.value | json }}</pre>
<br>

<h5>Persona</h5>
<pre>{{ persona | json }}</pre>
<br>

<h5>Valid</h5>
<pre>{{ miFormulario.valid }}</pre>

<h5>Términos</h5>
<pre>{{ miFormulario.controls?.terminos?.errors | json }}</pre>

<br>
<pre>Condiciones: </pre>
